/data
.ipynb_checkpoints/testing-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Web Scraping-checkpoint.ipynb
.ipynb_checkpoints/MVP Regression-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/MVP Web Scraping-checkpoint.ipynb
.ipynb_checkpoints/Final Web Scraping-checkpoint.ipynb
